<div class="gt-view gt-form-view gt-view-confirm">
    <header>
        <span>{{'Confirm Email' | translate}}</span>
        <!--<button ng-click="clear()">Clear</button>-->
    </header>
    <div class="body-wrapper">
        <p class=description">{{'Confirm Email Description' | translate}}</p>
        <form name="form">

            <div class="form-group" ng-click="focusThis($event)">
                <label>{{'Confirmation Code' | translate}}</label>
                <div class="form-input-container">
                    <input type="text" ng-class="{overwriteDirty: thisWasBluered}" ui-event="{ blur : 'blurEv()' }" placeholder="{{'Enter Value' | translate}}" required ng-minlength="4" ng-maxlength="4" ng-model="code" name="code">
                </div>
            </div>

            <div class="btn-field">
                <button class="btn btn-inverse"
                        ng-click="confirm()"
                        ng-disabled="!form.$valid">{{'Confirm' | translate}}
                </button>
            </div>
            <!--<p>{{form.$error}}</p>-->

        </form>
        <div class="resendMess">
            <p class=description">{{'Confirm Email No Mail' | translate}}</p>
            <div><a href="" ng-click="resend()">{{'Resend' | translate}}</a> </div>
        </div>

    </div>
</div>