<div class="gt-view gt-form-view gt-view-home">

    <form name="form" novalidate>

        <header>
            <div class="right">
                <button ng-click="back()" ng-show="step > 1">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
            <span translate="Steps" translate-values="{step: step, stepCount: stepCount}"></span>
            <div class="left">
                <button ng-click="next()" ng-show="step < stepCount">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
            <!--<button ng-click="clear()" style="display: block">Clear</button>-->

        </header>

        <section>
            <div class="body-wrapper" ng-class="{'last-step' : step === stepCount}">
                <div ng-show="step == stepCount">
                    <p class="text">
                        <span>{{'Please check all info entered by you is OK.' | translate}}</span>
                        <span class="error" ng-if="disabled()">
                            <br>{{'Please correct all the invalid fields.' | translate}}
                        </span>
                    </p>
                </div>

                <div ng-show="step == 1 || step == stepCount">
                    <gt-person model="model.me" title="{{'My Details' | translate}}"></gt-person>
                </div>

                <div ng-show="step == 2 || step == stepCount">
                    <gt-person model="model.mom" title="{{'Mom' | translate}}"></gt-person>
                    <gt-person model="model.momsDad" title="{{'Mom\'s Dad' | translate}}"></gt-person>
                    <gt-person model="model.momsMom" title="{{'Mom\'s Mom' | translate}}"/>
                </div>

                <div ng-show="step == 3 || step == stepCount">
                    <gt-person model="model.dad" title="{{'Dad' | translate}}"></gt-person>
                    <gt-person model="model.dadsDad" title="{{'Dad\'s Dad' | translate}}"></gt-person>
                    <gt-person model="model.dadsMom" title="{{'Dad\'s Mom' | translate}}"/>
                </div>

                <div ng-show="step == 4 || step == stepCount">
                    <h3>{{'Brothers' | translate}}</h3>

                    <div>
                        <div class="form-group">
                            <label>{{'How many brothers you have ?' | translate}}</label>
                            <div class="form-input-container">
                                <input type="number" ng-model="model.numBrothers" min="0" max="50">
                            </div>
                        </div>
                    </div>

                    <div ng-repeat="brother in model.brothers">
                        <gt-person model="brother" title="{{'Brother' | translate}}" counter="{{ $index + 1 }}/{{ model.brothers.length }}"></gt-person>
                    </div>
                </div>

                <div class="btn-field">
                    <button class="btn btn-inverse"
                            ng-disabled="disabled()"
                            ng-click="next()">{{(step == stepCount ? 'Save' : 'Continue') | translate}}
                    </button>
                </div>
            </div>
        </section>

    </form>

    <gt-spinner model="loading"></gt-spinner>

</div>