<div class="gt-view gt-form-view gt-view-register">
    <header>
        <span translate="Register"></span>
        <button ng-click="clear()" style="display: none">Clear</button>
    </header>
    <div class="body-wrapper">

        <h3>{{'Registration Details' | translate}}</h3>

        <form name="form">

            <div class="form-group" ng-click="focusThis($event)">
                <label>{{'Email' | translate}}</label>
                <div class="form-input-container">
                    <input type="email" required ng-model="model.me.email" ng-class="{overwriteDirty: thisWasBluered}" ui-event="{ blur : 'blurEv()' }" placeholder="{{'Enter Value' | translate}}" name="email">
                </div>
            </div>

            <div class="form-group" ng-click="focusThis($event)">
                <label>{{'CellPhone' | translate}}</label>
                <div class="form-input-container">
                    <input type="text" ng-pattern="{{phoneFormat}}" required ng-model="model.me.phone" ng-class="{overwriteDirty: thisWasBluered}" ui-event="{ blur : 'blurEv()' }" placeholder="{{'Enter Value' | translate}}" name="phone">
                </div>
            </div>


            <div class="form-group">
                <div>
                    <label class="full">
                        <span class="icon-checkbox"
                              ng-model="agree"
                              btn-checkbox
                              ng-class="{on: agree}">
                        </span>
                        <span ng-model="agree"
                              btn-checkbox
                              btn-checkbox-true="true"
                              btn-checkbox-false="false"
                              class="full" ng-bind-html="'AGREE_TO_USAGE_TERMS' | translate">
                        </span>
                    </label>
                </div>
            </div>
            <div class="btn-field">
                <button class="btn btn-inverse"
                        ng-click="register()"
                        ng-disabled="!form.$valid || !agree"
                        translate="Register">
                </button>
            </div>

        </form>
    </div>
</div>

