<header>header <button ng-click="clear()">Clear</button></header>
<form name="form">
    <span class="form-group">
        <label translate="Email"></label>
        <input type="email" required ng-model="model.email" name="email">
        <p>{{form.$error}}</p>
    </span>
        <span class="form-group">
        <label translate="I agree"></label>
        <input type="checkbox" required ng-model="agree" name="agree">
    </span>

    <button class="btn btn-default" ng-click="register()" ng-disabled="!form.$valid || !agree" translate="Register"></button>
</form>
