<div class="gt-view gt-form-view gt-view-home saved-tree">

    <header >
            <span>
                <span class="">{{'Save Tree' | translate}}</span>
            </span>
    </header>
    <section  class="saved-tree-body">
        <div class="saved-tree-text">
            <p>{{'thanks' | translate}}</p>
            <p>{{'saved_tree_p1' | translate}}</p>
            <p>{{'saved_tree_p2' | translate}}</p>
            <p ng-bind-html="'saved_tree_p3' | translate"></p>
        </div>
        <div class="saved-tree-text">
            <p>{{'saved_tree_p4' | translate}}</p>
            <p ng-bind-html="'saved_tree_p5' | translate"></p>
        </div>



    </section>

    <section class="saved-tree-footer">
        <div class="triangle">
            <div ><img src="images/triangle.png"/></div>
        </div>
        <div class="logo"></div>
        <div class="idf-logo"></div>

    </section>


</div>


</div>