<div class="gt-view gt-form-view gt-view-home">

    <header ng-swipe-right="back()">
        <div class="right" style="width: 0px;">
            <button ng-click="back()">
                <i class="fa fa-angle-right"></i>
            </button>
        </div>
            <span>
                <span class="">{{'Save Tree' | translate}}</span>
            </span>
    </header>
    <section>
        <div class="body-wrapper">
            <h3>{{'Where do you want to save the tree' | translate}}</h3>
            <ng-form>
                <div class="form-group" ng-repeat="location in savingTreeLocationList">
                    <div>
                        <label class="full" ng-model="model.savingLocation" btn-radio="location.value">
                            <span class="icon-checkbox" ng-class="{on: model.savingLocation == location.value}"></span>
                            <span class="full" ng-bind-html="location.title | translate"></span>
                        </label>
                    </div>
                </div>
            </ng-form>
        </div>
    </section>
    <div class="btn-field">
        <button class="btn btn-inverse"
                ng-click="save()">{{'Save Tree' | translate}}
        </button>
    </div>
</div>

<gt-spinner model="loading"></gt-spinner>

</div>