<div class="gt-view gt-form-view gt-view-usageterms">

    <header>
        <span translate="Usageterms"></span>
    </header>
    <div class="body-wrapper">

        <div class="content">
            <p translate="The family tree will be saved for you in the Beit Hatfutsot archive and you will be able to watch and edit it in the future in Beit Hatfutsot archive site"></p>

            <a href="" class="btn btn-inverse btn-footer" ui-sref="register" translate="Confirm"></a>
        </div>

    </div>
</div>

