<div>
    <div ng-show="$parent.step != 5">
    <div class="form-group" ng-click="focusThis($event)">
        <label>{{labelText | translate}}</label>
        <div class="form-input-container">
          <input type="number" style="direction:ltr" ng-model="number" min="0" max="50" class="test" onclick="this.setSelectionRange(0, 999)">
        </div>
    </div>
</div>

<div ng-repeat="b in brother">
    <gt-person model="b" title="{{ title | translate}}" counter="{{ $index + 1 }}/{{ brother.length }}"></gt-person>
</div>
</div>