

<div class="form-input-container">
    <input ng-show="!isOpen" type="text" placeholder="{{'Click to add' | translate}}" readonly value="{{model|date}}" ng-click="isOpen = true">
    <div class="form-input-date-popup" ng-show="isOpen" >
        <header>
            <span>{{header | translate}}</span>
            <div id="form-input-date-popup_close" ng-click="isOpen = false" class="fa fa-times fa-lg"></div>
        </header>
        <div>
             <div >
                 <div>
                 <span>{{'Year' | translate}}</span>
                     <input type="number" ng-model="date.year" min="1700" max="2100">
                 </div>
                 <div>
                     <span>{{'Mounth' | translate}}</span>
                     <input type="number" ng-model="date.mounth" min="1" max="12">
                 </div>
                 <div>
                     <span>{{'Day' | translate}}</span>
                     <input type="number" ng-model="date.day" min="1" max="31">
                 </div>
             </div>
            <span>{{'If you dont know the specific date you can use only year' | translate}}</span>
        <button class="btn btn-inverse"ng-click="save()"translate="Save"></button>
         </div>
    </div>
</div>