

<div class="form-input-container">
    <input ng-show="!isOpen" type="text" placeholder="{{'Click to add' | translate}}" readonly value="{{model|date}}" ng-click="isOpen = true">
    <div class="form-input-date-popup" ng-show="isOpen" >
        <div >
             <div >
              <input type="number"  placeholder="dd"  ng-model="date.day" min="1" max="31">
              <input type="number"  placeholder="mm"  ng-model="date.mounth" min="1" max="12">
              <input type="number"  placeholder="yyyy"  ng-model="date.year" min="1800" max="2100">
             </div>
        <button class="btn btn-inverse"ng-click="save()"translate="OK"></button>
        <button class="btn btn-inverse"ng-click="$parent.isOpen = false"translate="Cancel"></button>
        </div>
    </div>
</div>