<div class="gt-person">

    <h3 ng-show="title">{{title}}</h3>

    <ng-form>

        <div class="form-group">
            <label>{{'First Name' | translate}}</label>
            <div class="form-input-container">
                <input type="text" placeholder="{{'Enter Value' | translate}}" ng-model="model.firstName" required restrict="hebrew">
            </div>
        </div>
        <div class="form-group">
            <label>{{model.isWife ? 'Maiden Name' : 'Last Name' | translate}}</label>
            <div class="form-input-container">
                <input type="text" placeholder="{{'Enter Value' | translate}}" ng-model="model.lastName" required restrict="hebrew">
            </div>
        </div>
        <div class="form-group gt-gender" ng-show="!model.isMaleNotEditable">
            <label translate="Gender"></label>
            <div class="form-input-container">
                <span class="icon-gender icon-male" ng-model="model.isMale" btn-radio="true" uncheckable ng-class="{on: model.isMale}"/>
                <span class="icon-gender icon-female" ng-model="model.isMale" btn-radio="false" uncheckable ng-class="{on: !model.isMale}"/>
            </div>
        </div>
        <div class="form-group">
            <label>{{'Date of Birth' | translate}}</label>
            <div class="form-input-container">
                <gt-date model="model.dateOfBirth" ng-model="model.dateOfBirth" required/>
            </div>
        </div>
        <div class="form-group">
            <label>{{'Place of Birth' | translate}}</label>
            <div class="form-input-container">
                <input type="text" ng-model="model.placeOfBirth" placeholder="{{'Enter Value' | translate}}" required restrict="hebrew">
            </div>
        </div>
        <div class="form-group" ng-show="!model.isAliveNotEditable">
            <label>{{'Is Alive' | translate}}</label>
            <div class="form-input-container">
                <span ng-model="model.isAlive" class="icon-checkbox" ng-class="{on: model.isAlive}" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"></span>
            </div>
        </div>
        <div class="form-group" ng-show="!model.isAlive">
            <label>{{'Date of Death' | translate}}</label>
            <div class="form-input-container">
                <gt-date model="model.dateOfDeath" ng-model="model.dateOfDeath" ng-required='!model.isAlive'/>
            </div>
        </div>

    </ng-form>

</div>