body {
  direction: rtl;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: @color2;
  font-family: OpenSans;
  font-weight: lighter;
}

html {
  font-family: OpenSans;
  font-weight: lighter;
}


label, h1,h2,h3,h4 {
  font-family: OpenSans;
  font-weight: lighter;
}

//.shell > div, .shell-wrapper{
//  height:100%;
//}

.body-wrapper {
  margin-top: 65px;
}

p {
  color: @color4;
  padding: 10px 20px 20px 10px;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid @form-group-border-color;
}

.snap-to-bottom{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.snap-to-bottom p{
  border:none;
  padding: 0px 20px;
}

.snap-to-bottom a{
  padding: 10px 20px;
  text-decoration: underline;
  text-align: center;
  display: block;
  color:@color10;
}

.gt-view-confirm .btn{
  margin-top: 0.9em !important;
}


.gt-view {
//  position: absolute;
  width: 100%;
  height: 100%;

  .btn{
    //margin-top: 1em;
    width: 100%;
    padding: .5em;
    margin-top: 1.5em;
    border: none;
    color: @color1;
    background: @color2;
    font-size: 1.4em;

    &.btn-inverse {
      color: @color2;
      background: @color1;
    }

    &[disabled] {
      color: @color9;
      background: @color8;
    }
  }
}


