body {
  direction: ltr;
  //direction: rtl;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: @color2;
  font-family: OpenSans;
  font-weight: lighter;
}

html {
  font-family: OpenSans;
  font-weight: lighter;
}


label, h1,h2,h3,h4 {
  font-family: OpenSans;
  font-weight: lighter;
}

//.shell div:first-child{
//  height: 100%;
//}

//.shell-wrapper{
//  height: 100%;
//}

.body-wrapper {
  margin-top: 65px;
}

p {
  color: @color4;
  padding: 10px 20px 20px 10px;
  text-align: center;
  margin: 0px;
//  border-bottom: 1px solid @form-group-border-color;
}

input[type='number']{
  direction: rtl;
}

.resendMess{
//  position: absolute;
//  bottom: 0px;
//  left: 0px;
//  right: 0px;
  margin-top: 20px;
}

.resendMess p{
  border:none;
  padding: 0px 20px;
}

.resendMess a{
  text-decoration: underline;
  color:@color10;
}

.gt-view-confirm .btn{
  margin-top: 0.9em !important;
}

.force-bottom{
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
}

.gt-view {
//  position: absolute;
  width: 100%;
  height: 100%;

  .btn{
    //margin-top: 1em;
    width: 100%;
    padding: .5em;
    margin-top: 1.5em;
    border: none;
    color: @color1;
    background: @color2;
    font-size: 1.4em;

    &.btn-inverse {
      color: @color2;
      background: @color1;
    }

    &.btn-footer{
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      width:auto;
    }

    &[disabled] {
      color: @color5;
      background: @color11;
    }
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner img
{
  vertical-align: middle;
  -webkit-animation-name:             rotate;
  -webkit-animation-duration:         0.5s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
}

.spinner {
  height:100%;      /* equals max image height */
  white-space: nowrap;
  text-align: center;

}

.spinner:before,
.spinner_before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.spinner {
  visibility: hidden;
  list-style:none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.show-spinner {
  .body-wrapper {
    opacity: .3;
  }
  .spinner{
    visibility: visible;
  }
}

.modal-header{
  height: 50px;
  padding: 5px;
  text-align: center;
  border-bottom: solid 1px #fcb033;
  background-color: #ffffff;
}

.modal-title{
  font-size: 20px;
  font-weight: bold;
  margin: 7px auto 0 auto;
  color: @color1;

}

.steps{
  color: @color9;
}


.overwriteDirty{
  border-color: #ffffff !important;
}
