
.gt-form-view {
  color: @color1;
  background: @color2;

//  position: absolute;
  width: 100%;
  height: 100%;

  header {
    height: 50px;
    padding: 5px;
    text-align: center;
    border-bottom: solid 1px @color3;
    background-color: @form-group-background-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    div {
      width: 50px;
    }

    span {
      flex: 1;
      text-align: center;
      margin-top: 5px;
      font-size: 20px;
    }

    button {
      padding: 7px;
      margin: 0;
      border: none;
      background: none;

      i {
        font-size: 30px;
      }
    }
  }

  section {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  h3 {
    margin: 0;
    padding: 20px 20px 10px 10px;
    color: @form-h3-color;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bolder;
    border-bottom: solid 1px @form-border-color;
  }

  .form-group {
    background-color: @form-group-background-color;
    border-bottom: solid 1px @form-group-border-color;
    margin: 0;
    padding: 10px 20px 10px 10px;
    overflow: auto;

    label {
      width: 30%;
      margin-top: 5px;
      color: @color6;

      a {
        color: @color6;
        text-decoration: underline;
      }

      &.full {
        width: 100%
      }
    }

    .form-input-container {
      float: left;
      width: 66%;
    }

    input {
      float: left;
      padding: 5px;
      text-align: left;
      color: darken(@color2, 30%);
      border: solid 1px transparent;
      //      border-color: transparent;

      &:focus {
        border-bottom: solid 1px @color2;
      }
    }

    input {
      &.ng-invalid, &.ng-invalid-required {
        border: solid 1px @form-error-color;
        color: @form-error-color;
      }
    }

    div {
      &.ng-invalid, &.ng-invalid-required {
        input {
          border: solid 1px @form-error-color;
          color: @form-error-color;
        }
      }
    }

    .alert {
      margin: 10px 0 0 0;
      font-size: 12px;
    }
  }

  .btn-field {
    padding: .5em;
  }

  .loading-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #fff;
    opacity: .5;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 30px;
    }
  }

  .msg {
    &.alert{
      margin: 70px 20px 0px 20px;
      overflow: auto;
    }
  }

  .text {
    padding: 20px;
  }
}

.icon-checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  display: inline-block;
  background: transparent url("@{assets}/icon.checkbox.off.png") center center no-repeat;
  &.on {
    background-image: url("@{assets}/icon.checkbox.on.png");
  }
  background-size: 20px 20px;
}

