
.gt-view-welcome {

  position: absolute;
  background: @color6;
  color: @color5;
  border-collapse: collapse;
  display: table;

  header {
    background: @color5;
    height: 120px;
    border-bottom: solid 6px @color3;

    .idf-logo {
      height: 100%;
      width: (157px/2);
      margin-left: 10px;
      float: left;
      background: transparent url("@{assets}/logo.idf.png") left center no-repeat;
      background-size: (157px/2) (136px/2);
    }

    .logo {
      height: 100%;
      width: (296px/1.6);
      float: right;
      margin-right: 10px;
      background: transparent url("@{assets}/logo.png") right center no-repeat;
      background-size: (296px/1.6) (133px/1.6);
    }
  }

  .content {
    h1 {
      font-size: 2em;
    }
    padding: 1em;
    p {
      color: @color7;
    }
  }

  .welcome-btn {
    display: table-row;
    vertical-align: bottom;
    height: 1px;
    text-align: center;

    .btn {
      position: relative;
      left: 0;
      right: 0;
      width: 90%;
    }

  }

}

.gt-view-usageterms {
  .usageterms-list {

    list-style: decimal;
    p {
      text-align: right;
    }
  }
  .btn-footer-sction {
    position: relative;
    top: 50px;
  }
}