

.gt-view-welcome {

  position: absolute;
  background: @color6;
  color: @color5;


  header {
    background: @color5;
    height: 120px;
    border-bottom: solid 6px @color3;

    .idf-logo {
      height: 100%;
      width: (157px/2);
      margin-left: 10px;
      float: left;
      background: transparent url("@{assets}/logo.idf.png") left center no-repeat;
      background-size: (157px/2) (136px/2);
    }

    .logo {
      height: 100%;
      width: (296px/1.6);
      float: right;
      margin-right: 10px;
      background: transparent url("@{assets}/logo.png") right center no-repeat;
      background-size: (296px/1.6) (133px/1.6);
    }

  }

  .content{
    h1 {
      font-size:2.1em;
    }
    padding: 1em;
    p{
      color: @color7;
    }


  }


}

