@import "_common";
@import "_gender";
@import "_welcome";
@import "_savedTree";
@import "_formView";

@assets: 'assets';

@color1: #00b8d1;
@color2: #ececec;
@color3: #bb8225;
@color4: #000;
@color5: #fff;
@color6: #fcb033;
@color7: #01414a;
@color8: #dadada;
@color9: #a1a1a1;
@color10: #4d4d4d;
@color11: #aaaaaa;
@color12: #666666;

// form
@form-group-background-color: #ffffff;
@form-group-border-color: #c8c7cc;
@form-border-color: #54c3d3;
@form-h3-color: #4d4d4d;
@form-h3-background-color: #ececec;
@form-error-color: #e74c3c;