@import "_common";
@import "_gender";
@import "_welcome";
@import "_formView";

@assets: 'assets';

@color1: #00b8d1;
@color2: #ececec;
@color3: #bb8225;
@color4: #000;
@color5: #fff;
@color6: #fcb033;

// form
@form-group-background-color: #ffffff;
@form-group-border-color: #c8c7cc;
@form-border-color: #54c3d3;
@form-h3-color: #4d4d4d;
@form-h3-background-color: #ececec;
@form-error-color: #e74c3c;