<div class="form-date-popup gt-form-view gt-view">
    <header>
        <span>{{header | translate}}</span>
        <div ng-click="close()" class="fa fa-times fa-lg popup_close"></div>
    </header>
    <div class="date-form-container">
        <div>
            <form name="dateForm" class="date-form">
                <div class="date-form-item" ng-repeat="date in dates |orderBy:'sort'">
                    <span>{{date.title | translate}}</span>
                    <input  type="number"  ng-model="date.value" min="{{date.min}}" max="{{date.max}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </div>
            </form>
        </div>
        <p>{{'If you dont know the specific date you can use only year' | translate}}</p>
        <button class="btn btn-inverse" ng-click="ok()" ng-disabled="!dateForm.$valid" translate="Save"></button>
    </div>
</div>
